* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #0B2434;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 600px;
    max-width: 600px;
}

main {
    background-color: #f5f5f5;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;   
}

.dice-container > button {
    width: 60px;
    height: 60px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: Inter, sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
}